/*
Color Scheme:
    Rose Gold: #bd8c7d (icons)
    Soft Gold: #d1bfa7 (Button Text)
    Silver: #8e8e90 (Text Box Background)
    Onyx: #49494b (Boxes /  buttons)
    Gainsboro: #e8e8e6 (Background)
*/


div.Chatmain {
    border-top: 1px solid #e8e8e6;
    border-bottom: 1px solid #e8e8e6;
    background-color: #49494b!important;
    width: 310px;
    position: fixed;
    top: 5vh;
    bottom: 5vh;
    margin: 1px 0px 0px -155px;
    overflow: inherit;
}

div.Chat_Top {
    margin:  5px;
    height: 80vh;
    background: #e8e8e6;
    overflow: auto;
}

@media only screen and (max-width: 568px) {
    div.Chat_Top {
        height: 75vh;
    }
}

@media screen and (max-width: 667px) {
    div.Chat_Top {
        height: 77vh;
    }
}

@media screen and (max-width: 763px) {
    div.Chat_Top {
        height: 78vh;
    }
}

@media screen and (max-width: 812px) {
    div.Chat_Top {
        height: 79vh;
    }
}

@media screen and (max-width: 1024px) {
    div.Chat_Top {
        height: 81vh;
    }
}

@media screen and (max-width: 1366px) {
    div.Chat_Top {
        height: 83vh;
    }
}

div.Chat_Top>div#chattextoutput>p {
    font-size: 1rem;
    padding: 0px;
    margin: 0px 5px;
    line-height: 1.5rem;
    word-wrap: break-word;
}

div.Chat_Bottom>textarea#chattextarea {
    height: 30px!important;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    padding: 6px;
    border: 0px;
    margin: 0px 0px 0px 5px;
    background: #e8e8e6;
}

div.Chat_Bottom {
    min-height: 75px;
    position: absolute;
    bottom: 0;
}

div>button.Chat_Send_Btn {
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 25px;
    display:flex;
    border: none;
    color: #d1bfa7;
}

div>button.Chat_Send_Btn:focus {
    background-color: transparent;
}
