/*
Color Scheme:
    Rose Gold: #bd8c7d (icons)
    Soft Gold: #d1bfa7 (Button Text)
    Silver: #8e8e90 (Text Box Background)
    Onyx: #49494b (Boxes /  buttons)
    Gainsboro: #e8e8e6 (Background)
*/


<<<<<<< HEAD
div.chatmain {
    display: flex;
    width: 310px;
    height: 90vh;
    top: 5vh;
    bottom: 5vh;
=======
.Chat {
    display: grid;
    width: 310px;
    height: 90vh;
>>>>>>> master
    border-top: 1px solid #e8e8e6;
    border-bottom: 1px solid #e8e8e6;
    background-color: #49494b!important;
}

.Chat_Top {
    grid-column: 1;
    grid-row: 1;
    border:10px solid #8e8e90;
    margin:  5px;
    height: 82vh;
    background: #e8e8e6;
    overflow: scroll;
}
.Chat_Top > div {
    display:flex;
    margin:0;
    padding:0;
}

.Chat_Top > div > p {
    word-wrap: break-word;
    line-height: 2.5rem;
}

.Chat_Bottom {
    grid-column: 1;
    grid-row: 2;
}

.Chat_Btn_Group {
    display:flex;
    justify-content: space-evenly;
    
}
.Chat_Clear_Btn {
    display:flex;
    justify-content: flex-start
}

.Chat_Send_Btn {
    display:flex;
    justify-content: flex-end
}