/*
Color Scheme:
    Rose Gold: #bd8c7d (icons)
    Soft Gold: #d1bfa7 (Button Text)
    Silver: #8e8e90 (Text Box Background)
    Onyx: #49494b (Boxes /  buttons)
    Gainsboro: #e8e8e6 (Background)
*/


div.Chatmain {
    display: grid;
    width: 310px;
    height: 90vh;
    border-top: 1px solid #e8e8e6;
    border-bottom: 1px solid #e8e8e6;
    background-color: #49494b!important;
}

div.Chat_Top {
    margin:  5px;
    min-height: inherit;
    /* max-height: 100%; */
    background: #e8e8e6;
    overflow: auto;
}

div.Chat_Btn_Group {
    display:flex;
    justify-content: space-evenly;
}

div.Chat_Top>div#chattextoutput>p {
    font-size: 1rem;
    padding: 0px;
    margin: 0px 5px;
    line-height: 1.5rem;
    word-wrap: break-word;
}

div.Chat_Bottom>textarea#chattextarea {
    height: 2rem!important;
    white-space: nowrap;
    overflow: hidden;
}

div.Chat_Bottom {
    max-height: 75px;
}

div>button.Chat_Send_Btn {
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 25px;
    display:flex;
    border: none;
    color: #d1bfa7;
}

div>button.Chat_Send_Btn:focus {
    background-color: transparent;
}