.shelfbutton {
    display: flex;
    background-color: #49494b;
    color: #d1bfa7;
    max-height: 40px;
    min-height: 40px;
    max-width: 310px;
    min-width: 310px;
    margin: 1px 0px 1px 0px;
}

.col {
    padding: 0px!important;
}

.defaulticon {
    color: #bd8c7d;
    font-size: 39px;
}

.shelftitle {
    width: 215px;
    margin: 9px 20px 0px 0px;
}

.hearticonnotliked {
    color: #bd8c7d;
    margin: 5px 3px 0px 0px;
    font-size: 30px;
    float: right;
}

.hearticonliked {
    /* favorite */
    color: #bd8c7d;
    margin: 5px 3px 0px 0px;
    font-size: 30px;
}