div.card {
    margin: 0px 0px -15px 0px;
    background-color: silver;
    max-width: 310px;
}

div.card-content {
    background-color: #49494b;
    padding: 0px 10px 10px 10px!important;
}

div.card-text {
    line-height: 1em;
    padding: 1.8em 0 0 0;
}

span.card-title {
    font-family: 'Cormorant SC', serif;
    color: #d1bfa7;
    margin: 5px 0px 0px 0px!important;
}

span.card-title.activator {
    margin: 0!important;
}

img.card-image {
    margin: 0 auto;
    max-width: 310px!important;
    max-height: 551px!important;
}

div.cardbtns {
    display: flex;
    justify-content: space-between;
}

i.material-icons.right {
    margin: 0;
}