div.card {
    margin: 0px 0px 5px 0px;
    background-color: silver;
    max-width: 310px;
}

div.card-content {
    background-color: #49494b;
    padding: 10px!important;
}

div.card-text {
    line-height: 1em;
    color: #49494b;
}

span.card-title {
    display: inline-flex!important;
    font-family: 'Cormorant SC', serif;
    color: #d1bfa7;
    margin: 5px 0px 0px 0px!important;
    justify-content: space-evenly;
}

span.card-title.activator {
    margin: 0!important;
}

img.card-image {
    margin: 0 auto;
    max-width: 310px!important;
    max-height: 551px!important;
}

div.card-image {
    margin: 0 auto;
    max-width: 310px!important;
    max-height: 551px!important;
    min-height: 150px;
}

div.cardbtns.noselect {
    display: flex;
    justify-content: space-around;
    background-color: #49494b;
}

i.right {
margin: 0px;
}

i.itemaddcircle {
    margin: 0px;
}

div.hiddendiv {
    display: none;
}