.Header {
    display: flex;
    background-color: #49494B;
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
  }

  #newshelfbtn {
    color: #bd8c7d;
  }
  
  .Header-text {
    font-family: 'Montserrat', sans-serif;
  }

  #headnav {
    display: flex;
    width: 700px;
    min-width: 310px;
    color: #D1BFA7;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px!important;
  }

  button {
    background: #49494B;
  }

  h5 {
    font-family: 'Cormorant SC', serif;
    margin: 0 auto!important;
  }         