.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49494B;
    color: #D1BFA7;
  }
  
  .add-btn {
    text-align: center; 
    background-color: #BD8C7D;
    color: #49494B;
    width: 1.5em;
    height: 1.5em;
    border: none;
    border-radius: 50%;
  }
  
  .Header-text {
    width: 40%;
    margin: 0.5em;
  }