html {
  line-height: 0 !important;
}

.Footer-fixed {
  display: flex;
  background-color: #49494B;
  height: 5vh;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

#dropdown1 {
  background-color: #49494B;
  color: #D1BFA7;
  min-height: 260px;
  max-height: 260px;
}

#footnav {
  display: flex;
  width: 700px;
  min-width: 310px;
  align-items: center;
  margin: 0px 5px 0px 10px !important;
  justify-content: space-between;
}

.material-icons {
  color: #bd8c7d;
}

div.input-field {
  max-width: 200px;
  min-width: 200px;
}

.dropdown-content {
  min-width: 200px!important;
  max-width: 200px!important;
}

li {
  min-height: 30px!important;
  max-height: 30px!important;
  padding: 5px 0px 0px 5px!important;
}

a {
  min-height: 30px!important;
  max-height: 30px!important;
  padding: 0px 0px 0px 0px!important;
}