  main.valign-wrapper.newshelf {
    width: 310px;
    height: 154px;
    background-color: #49494b!important;
}

  form.valign-wrapper.newshelfform {
    background-color: silver;
    margin: 0px;
    padding:0px;
    float: left;
    width:100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}

  .btn_createshelf {
    width: 170px;
    background-color: #49494b!important;
    margin: 10px auto;
  }

  .input-field>label {
    color: #49494b!important;
    line-height: .1!important;
  }

  .input-field>label.active {
    color: #49494b!important;
    line-height: 1!important;
  }

  input:focus {
    border-bottom: 1px solid #49494b;
    box-shadow: 0 1px 0 0 #49494b;
    outline: 1px solid transparent;
  }

  input {
    background-color: #e8e8e6!important;
    min-height: 25px;
    max-height: 25px;
  }

  input#shelftitle, input#shelfdesc {
   margin: 0;
  }

  a {
    color: #d1bfa7!important;
  }