  main.valign-wrapper.newshelf {
    width: 310px;
    height: 223px;
    max-height: 100vh;
    position: fixed;
    top: 5vh;
    bottom: 5vh;
    margin: 1px 0px 0px -155px;
    background-color: #49494b!important;
}

main.valign-wrapper.newitem {
  width: 310px;
  height: 270px;
  max-height: 100vh;
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  margin: 1px 0px 0px -155px;
  background-color: #49494b!important;
}

main.valign-wrapper.addnewitem {
  width: 310px;
  height: 370px;
  max-height: 100vh;
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  margin: 1px 0px 0px -155px;
  background-color: #49494b!important;
}

  form.valign-wrapper.newshelfform {
    background-color: silver;
    margin: 0px;
    padding:0px;
    float: left;
    width:100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}

  .btn_createshelf {
    width: 170px;
    background-color: #49494b!important;
    color: #d1bfa7!important;
    margin: 10px auto;
    border: none;
  }

  .input-field>label {
    color: #49494b!important;
    line-height: .1!important;
  }

  .input-field>label.active {
    color: #49494b!important;
    line-height: 1!important;
  }

  input.shelfinput:focus {
    border-bottom: 1px solid #49494b !important;
    box-shadow: 0 1px 0 0 #49494b !important;
    outline: 1px solid transparent;
    padding: 0px!important;
  }

  input.shelfinput {
    background-color: #e8e8e6!important;
    min-height: 25px;
    max-height: 25px;
  }

  input.shelfinput {
   margin: 0;
  }

  a {
    color: #d1bfa7!important;
  }