.searchmain {
  max-height: 100vh;
  position: fixed;
  top: 5vh;
  bottom: 5vh;
  margin-left: -155px;
}

.userresult, .collectableresult {
  display: flex;
  background-color: #49494b;
  color: #d1bfa7;
  max-height: 40px;
  min-height: 40px;
  width: 310px;
  margin: 1px 0px 1px 0px;
  overflow: auto;
}

.btntitle {
  width: 215px;
  margin: 9px 22px 0px 0px;
}

div>i.material-icons.small {
  margin: 0px 0px 0px 10px;
}

h6.btntitle {
  margin: 10px 0px 0px 10px;
}

div.col.xl2 {
  align-self: center;
}

img#stamp {
  min-height: 22px;
  max-height: 22px;
  min-width: 22px;
  margin: 0px 5px 0px 5px;
}

i.searchicon {
  color: #bd8c7d;
}

div.searchbox {
  background-color: #49494b;
  color: #d1bfa7;
  max-height: 60px;
  min-height: 60px;
  max-width: 310px;
  min-width: 310px;
  margin: -15px 2px 0px 0px;
}

.placeholder {
  font-family: 'Montserrat', sans-serif!important;
}

ul.searchbox01 {
  margin: 15px 0px 0px 0px;
}

input.searchpageinput {
  max-width: 290px!important;
  min-width: 290px!important;
  margin: 5px 0px 0px 10px!important;
}

div.searchbox01 {
  display: none;
}

div.usersearchresultbtn {
  background-color: #49494b;
  max-height: 40px;
  min-height: 40px;
  width: 310px;
}

div.collectablelist {
  margin: 1px 0px 1px auto;
}

div.row.userbtnrow {
  margin: 1px 0px 0px 0px;
}

div.searchmain {
  overflow: auto;
}

div.card-reveal {
  padding: 10px!important;
}

div.card-title {
  margin: 20px 0px 0px 0px!important;
}

div.searchbtns {
  display: flex;
 justify-content: space-evenly;
}

div.searchbtns>button {
  height: 25px!important;
  border: 0!important;
  color: #d1bfa7;
}

.usersearchresult {
  background-color: #49494b!important; 
}